body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.content {
    display: flex;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgb(46, 1, 88);
}
.sidebar header {
    font-size: 25px;
    color: beige;
    text-align: center;
    line-height: 70px;
    background-color: rgb(113, 59, 184);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: beige;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgb(46, 1, 88);
    border-bottom: 1px solid black;   
}
.sidebar ul li a{
    transition: all 0.5s;
}
.sidebar ul li a:hover{
    padding-left: 60px;
}
.signup{
    width: 100%;
    background-color:rgb(104, 49, 177);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 500px;
    height: 400px;
    background-color:rgb(46, 5, 70);
    border: 2px solid black;
}
table{
    margin-top: 50px;
    color: azure;
    font-size: 20px;
}
input{
    width: 250px;
    height: 30px;
}
.form2{
    width: 700px;
    height: 500px;
    background-color:rgb(36, 0, 53);
    border: 2px solid black;
}
.form2 table{
    margin-top: 0px;
}
.form2 table tr td input{
    width: 400px;
    height: 30px;
}
.form3{
    width: 900px;
    height: 800px;
    background-color:rgb(36, 0, 53);
    border: 2px solid black;
}

.form3 table tr td input{
    width: 400px;
    height: 20px;
}
.form3 table{
    margin-top: 0px;
}